<% include partials/header.ejs %>
<div class="container text-center">
  <div class="card" style="width:60%;margin:25px auto">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
        <form class="form" action="/user/login" method="POST">
          <div class="form-group">
              <input class="form-control" name="username" id="username" type="text" placeholder="Enter your username"
              required>
          </div>
          <div class="form-group">
              <input class="form-control" name="password" id="login_password" type="password" placeholder="Enter your password"
              required>
          </div>
          <button class="btn btn-primary btn-block" type="submit" id="log">Login</button>
        </form>
      </div>
  </div>
</div>
  <% include partials/footer.ejs %>