<% include partials/header.ejs %>
<section class="container-fluid text-center">
            <div class="card" style="width:60%;margin:25px auto">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <form action="/user/register" method="POST">
                        <div class="form-group">
                            <input class="form-control" id="un" name="username" type="text" placeholder="Enter your username"
                                required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="em" name="email" type="email" placeholder="Enter your email"
                                required>
                        </div>

                        <div class="form-group">
                            <input class="form-control" name="password" id="password" type="password" placeholder="Enter your password"
                                required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="checkpassword" id="confirm_password" type="password"
                                placeholder="confirm your password" required>
                        </div>
                        <button id="Reg" class="btn btn-block btn-primary"> Submit </button>
                    </form>
                </div>
            </div>
</section>
<% include partials/footer.ejs %>